.selected-filter{
  font-family:  'Ruda', sans-serif;
  font-size:22px;
  background-color: #ffbb00;
}
.not-selected-filter{
  font-family:  'Ruda', sans-serif;
  font-size:22px;
  background-color: #fff;
}
.selected-filter:hover,.not-selected-filter:hover{
  cursor:pointer
}
.filters{
  display: flex;
  width: 100%;
}
.filters button{
  flex: 0 0 25%;
  user-select: none;
  border-radius:9px 9px 0px 0px;
}
button {
  outline: none;
  border:none
}
button:hover {
  cursor: pointer;
}
input{
  outline: none;
  padding-left :13px;
  font-family:  'Ruda', sans-serif;
  font-size: 18px;
}
.active-tasks-counter{
  padding: 6px;
  font-family:  'Ruda', sans-serif;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
